/* Global Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global Settings */
html {
    scroll-behavior: smooth;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* Vertical scrollbar width */
    height: 5px; /* Horizontal scrollbar height */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle (movable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #FFFF00;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    /* position: relative; */
    min-height: 100vh; 
    background-color: #131214;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Sono', 'Courier New', Courier, monospace;
    /* font-family: Sono, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


a{
    text-decoration: none;
    color: #FFFF00;
    font-size: 1.2rem;
    
}
li{
    list-style: none;
}
#header-nav{
    /* position: sticky;
    top: 0;
    z-index: 1000; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-nav ul{
    background-color: #1f2022;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.nav-item{
    /* font-family: monospace; */
    user-select: none;
    list-style: none;
    font-size: 1.2rem;
    padding: 10px;
    margin: 15px;
    height: fit-content;
    cursor: pointer;
    transition:all ease 0.3s; /* Smooth color change */
}

.list-icon-space{
    margin-right: 10px;
}

.nav-item.active {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #FFFF00;
    color:#1f2022;
}

#my-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto auto;
}

/* header{
    background: url(./img/headerbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.profile{
    background: url(./img/headerbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

.profile-row{
    position: relative;
    
    min-width: 300px;
    max-width: 50%;
    height: auto;
    min-height: 350px;

    padding: 20px;
    display: flex;
    box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #1f2022;
    /* 
    box-shadow: 6px 4px 19px -3px rgb(86, 86, 87); 
    border-radius: 25px; 
    */
}

.profile-row img{
    position: relative;
    top: -100px;
    left: -50px;
    max-width: 50%;
    height: auto;
    transform: rotateY(180deg);
    /* filter: grayscale(100%);  */
    transition: filter 0.3s ease; 
}

.profile-row img:hover {
    filter: grayscale(100%); 
}

.profile-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile-intro p:first-child{
    margin-bottom: 20px;
}
.profile-intro ul{
   margin-bottom: 10px;
   gap: 10px;
   display: flex;
}

.profile-intro ul li{
    font-size: 1.2rem;
    margin:5px 15px 0px 0px;
}

.hero-name{
    font-size: 2.4rem; 
    /* font-weight: bold; */
    margin-bottom: 10px;
    width: fit-content;  
    display: inline-block; 
}

.hero-name-border{
    color: #FFFF00;
    border-right:3px white solid;
}

.tech-skill{
    /* background-color: #1f2022; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* box-shadow: inset 0px 0px 29px 12px rgba(0,0,0,0.1); */
}
.techTitle{
    font-size: 3rem;
    color: #FFFF00;
    align-self: center;
    width: 50%;
    margin-bottom: 50px;
    /* background-color: rebeccapurple; */
}
.tech-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;

}

.techCategory{
    background-color: #1f2022;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

.techCategoryTitle{
    color: #131214;
    background-color: #FFFF00;
    width: max-content;
    padding: 10px;
    margin: 10px;
    font-size: 1.8rem;
}

.techCategory ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techCategory ul li{
    font-size: 1.3rem;
    margin: 10px;
}





.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.projects-title{
    color: #FFFF00;
    font-size: 3rem;
}
.projects-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 100%;
    gap: 20px;
    width: 50%;
}

.project-item{
    display: flex; 
    color: #1f2022;
    background-color: #1f2022;
    border-radius: 24px 24px 24px 24px;
    flex-direction: column;
    height: fit-content;
}
.project-item p{
    color: #ffffff;
    width: auto;
    font-size: 1.5rem;
    padding: 10px;
}

.project-item h1{
    padding: 10px;
    color:#FFFF00;
}

.project-item img{
    border-radius: 24px 24px 24px 24px;
    width:95%;
    margin: 10px;
    
}







